<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Parser</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->

    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}" />

    <!--===============================================================================================-->
</head>
<body>
<section>
    <!--for demo wrap-->
    <!--<h1>Stock Parser</h1>-->
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>종목</th>
                <th>시가총액</th>
                <th>PER</th>
                <th>배당율</th>
                <th>ROE추세</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody id="table-root">
            <!--<tr>-->
                <!--<td>AAC</td>-->
                <!--<td>AUSTRALIAN COMPANY </td>-->
                <!--<td>$1.38</td>-->
                <!--<td>+2.01</td>-->
                <!--<td>-0.36%</td>-->
            <!--</tr>-->

            </tbody>
        </table>
    </div>
</section>


<!-- follow me template -->
<div class="made-with-love">
    Made with
    <i>♥</i> by
    <a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
</div>
<script src="{{url_for('static',filename='index.js') }}"></script>
<script>
    let data = JSON.parse({{view_data|tojson}})
    console.dir(data)
    let tableBody = document.getElementById("table-root")
    appendTable(tableBody, data)
</script>
</body>
</html>